body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.logo-title {
    width: 300px;
    height: 50px;
}

.list_links {
    white-space: nowrap;
}
#table_trasactions th:hover {
    color: red;
    cursor: pointer;
}



@media (min-width: 768px) {

    .header {
        display: inherit;
    }

    .navbar-logo-img {
        display: none;
    }

    .navbar-logo-title {
        display: none;
    }

    .navbar-header {
        display: none;
    }
}

@media (max-width: 767px) {

    .header {
        display: none;
    }

    .navbar-logo-img {
        display: inherit;
    }

    .logo-img {
        width: 50px;
        height: 50px;
    }

    .navbar-logo-title {
        display: inherit;
    }

    .navbar-header {
        display: inherit;
    }

}

@media (max-width: 480px) {

    .header {
        display: none;
    }

    .navbar-logo-img {
        display: inherit;
    }

    .navbar-logo-title {
        display: inherit;
    }

    .navbar-header {
        display: inherit;
    }

}