@model IEnumerable<Financial.WebApplication.Models.ViewModels.AssetTypeSettingType.IndexLinkedAssetTypesViewModel>

@foreach (var item in Model)
{
    <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
            @Html.CheckBoxFor(modelItem => item.IsActive, htmlAttributes: new { @class = "control-checkbox", @disabled = "disabled" })
            @Html.Label(item.AssetTypeName, new { htmlAttributes = new { @class = "control-label" } })
        </div>
    </div>
}


