@model Financial.Core.ViewModels.AssetTypeRelationshipType.DisplayLinkAssetTypesViewModel

<div class="form-group">
    @Html.LabelFor(model => model.SelectedAssetTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(x => x.SelectedAssetTypeId, Model.AssetTypes, "-- Select an Asset Type --", new { @id = "link_asset_type", @class = "form-control", onchange = "updateLinkAssetType()" })
        @Html.ValidationMessageFor(model => model.SelectedAssetTypeId, "", new { @class = "text-danger" })
    </div>
</div>
