@model Financial.WebApplication.Models.ViewModels.AssetTypeRelationshipType.DisplayParentChildRelationshipTypesViewModel

<div class="form-group">
    @Html.LabelFor(model => model.SelectedParentChildRelationshipTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(x => x.SelectedParentChildRelationshipTypeId, Model.ParentChildRelationshipTypes, "-- Select a Relationship Type --", new { @id = "relationship_type", @class = "form-control", onchange = "updateRelationshipType()" })
        @Html.ValidationMessageFor(model => model.SelectedParentChildRelationshipTypeId, "", new { @class = "text-danger" })
    </div>
</div>

